
	<div >
	<style>table{
	padding:50px;	
	color:white;
}
.backlogs{
	margin-top:260px;
	margin-left:372px;
}
</style>
		<table align="right" style="padding:100px">
		<tr><td>Code</td><td>Name</td><td>Type</td><td>Credits</td></tr>
		<tr ng-repeat="course in courses | orderBy:Code" ng-show="course.selected">
		<td>{{course.Code}}</td>
		<td>{{course.Name}}</td>
		<td>{{course.Type}}</td>
		<td>{{course.Credits}}</td>
		<td><input type="submit" value="Remove" ng-click="course.selected=false" ng-animate="'box'"></td>
		</tr>
		<tr><td><input type="submit" value="Submit" ng-click="submission()"></td></tr>
		</table>
		<table>
		<table align="left">
		<tr><td>Code</td><td>Name</td><td>Type</td><td>Credits</td></tr>
		<tr ng-repeat="course in courses | orderBy:Code" ng-show="(!course.selected)&&course.current"><td>{{course.Code}}</td>
		<td>{{course.Name}}</td>
		<td>{{course.Type}}</td>
		<td>{{course.Credits}}</td>
		<td><input type="submit" value="Add" ng-click="course.selected=true" ng-animate="'box'"></td>		
		</tr>
		</table>
		<table class="backlogs" align="center-bottom">
		<tr><td><input type="submit" value="Backlogs?" ng-click="showme=!showme" ></input></td></tr>
		<tr ng-show="showme"><td>Search:<input type="text" ng-model="query"></input></td></tr>
		<tr ng-show="showme"><td>Code</td><td>Name</td><td>Type</td><td>Credits</td></tr>
		<tr ng-repeat="course in courses | orderBy:Code | filter:query" ng-show="(showme&&(!course.current))&&(!course.selected)"ng-animate="'box'" >
		<td>{{course.Code}}</td>
		<td>{{course.Name}}</td>
		<td>{{course.Type}}</td>
		<td>{{course.Credits}}</td>
		<td><input type="submit" value="Add" ng-click="course.selected=true" ng-animate="'box'"></td>		
		</tr>
		</table>
		</div>

